@model asp.net_mvc.ViewModel.Products.IndexViewModel

<h1 class="text-center">@Model.Title</h1>
<h6 class="text-center">Total de produtos: @Model.TotalProducts</h6>

<div class="container-fluid p-3 mt-5 mb-5">
    <div class="row d-flex justify-content-around gap-3">
        @foreach (var product in Model.Products)
        {
            <partial name="_ProductOverview" for="@product"/>
        }
    </div>
</div>